<div class="single-sidebar-widget newsletter-widget">
    <h4 class="single-sidebar-widget__title">Newsletter</h4>
    {% set newsletterForm = form %}
    {{ form_start(newsletterForm) }}
    <div class="form-group mt-30">
        <div class="col-autos">
            {{ form_widget(newsletterForm.email) }}
        </div>
    </div>
    {{ form_widget(newsletterForm.submit) }}
    {{ form_end(newsletterForm) }}
</div>