{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
    <div>
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        $(document).ready(function (){
            $.ajax({
                url: '/admin/get-dashboard-chart',
                type: 'GET',
                async: false,
                success: function (data, status){
                    let labels = data.chartData.monthsLabel;
                    let charData = {
                        labels: labels,
                        datasets: [{
                            label: 'Articles per last three months',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data:  data.chartData.monthsCount,
                        }]
                    };
                    let config = {
                        type: 'line',
                        data: charData,
                        options: {}
                    };
                    let myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );

                }
            })
        })
    </script>
{% endblock %}


